.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#user-details-popup {
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
  background-color: #fafafa;
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),color-stop(75%,#fff),to(#e6e6e6));
  background-image: -webkit-linear-gradient(#fff,#fff 75%,#e6e6e6);
  background-image: -moz-linear-gradient(top,#fff,#fff 75%,#e6e6e6);
  background-image: -o-linear-gradient(#fff,#fff 75%,#e6e6e6);
  background-image: linear-gradient(#fff,#fff 75%,#e6e6e6);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe5e5e5', GradientType=0);
  -webkit-box-shadow: 0 0 8px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 0 8px rgba(0,0,0,0.5);
  box-shadow: 0 0 8px rgba(0,0,0,0.5);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  *zoom: 1;
  border: 1px solid #444;
  font-size: 0.9em;
  max-width: 300px;
  padding: 0.5em;
  position: absolute;
  z-index: 100;
}
#user-details-popup:before {
  border: 10px solid rgba(68,68,68,0);
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-top-color: #444;
  top: 100%;
  left: 50%;
  margin-left: -10px;
}
#user-details-popup:after {
  border: 8px solid rgba(230,230,230,0);
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-top-color: #e6e6e6;
  top: 100%;
  left: 50%;
  margin-left: -8px;
}
#user-details-popup:before,
#user-details-popup:after {
  display: table;
  content: "";
  line-height: 0;
}
#user-details-popup:after {
  clear: both;
}
#user-details {
  max-width: 300px;
  min-width: 300px;
  width: 300px;
}
#user-details img[class*="avatar"] {
  float: left;
  padding-right: 0.5em;
}
#user-details h1,
#user-details h2 {
  margin: 0;
  padding: 0;
}
#user-details h1 {
  font-size: 1em;
}
#user-details h2 {
  font-size: 0.95em;
}
#user-details h2:before {
  content: "„ ";
}
#user-details h2:after {
  content: " ”";
}
#user-details ul {
  clear: left;
  margin: 3px 0 0 0;
  padding: 3px 0 0 0;
  text-align: center;
}
#user-details li {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0 0.5em;
}
#user-details li,
#user-details span {
  vertical-align: top;
}
